*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}

.navbar{
  border: 2px solid;
  border-color: rgb(252, 6, 157);
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 85;
  margin: auto;
  background-color: white;
}
.menuBlock ul li a{
text-decoration: none;
color: black;

}
 .menuBlock{
  display: flex;
    justify-content: space-around ; 
} 
.menuBlock ul{
  display: flex;
  justify-content: space-around;
  width: 380px;
  list-style: none;
  font-weight: bold;
  color: pink;
}
img{
  width: 140px;
  height: 66px;
}
input{
  height: 45px;
  width: 370px;
  border:none;
  color: blueviolet;

}
.inputDiv{
  border-radius: 5px;
  border:2px solid rgb(221, 223, 221);
  align-items: center;
}
.inputDiv img{
  
  width: 30px;
  height:30px;
}