body{
  display: flex;
  background-color:rgb(55, 205, 228);
  justify-content: center;
  margin-top: 150px;
}
.mainSign{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  background-image:linear-gradient(rgb(136, 125, 125));
  border-radius: 30px;
  height: 500px;
  width: 400px;
}
.mainSign:hover{
transition: .5s ease-in-out;
box-shadow: 0px 0px 50px 5px gray;
}
#username,#password{
  display: flex;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  margin-top: 30px;
  justify-content: center;
}
#username:hover,#password:hover{
  transition: .5s ease-in-out;
  box-shadow: 0px 0px 50px 5px gray;
}
#SignUp{
  display: flex;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-left: 50px;
}
#SignUp:hover{
  transition: .5s ease-in-out;
  box-shadow: 0px 0px 50px 5px gray;
}
h1{
  display: flex;
  justify-content: center;
  color: white;
}